<%= render "header" %>

<form method = "POST" action = "/add">

<%= token_tag %>     

<!--why??-->

<div class = "col-6" style = "margin:0 auto;">
    <div class="mb-3">
        <label for="title_id" class="form-label">Title</label>
        <input name = "title" type="text" class="form-control" id="title_id">
    <div>
    <div class="mb-3">
        <label for="description_id" class="form-label">Description</label>
        <textarea name = "description" class="form-control" id="description_id" rows="3"></textarea>
    </div>

    <div class = "mb-3">
        <input type = "submit" class = "btn btn-primary" value = "add" style = "display: block;  margin: 0 auto">
    </div>
</div>
</form>

<hr>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-6 mb-4"> <!-- Adjust column sizes as needed -->
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.description %></p>
            <a href="/delete/<%= post.id %>" data-method="delete" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= render "footer" %>